body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(135deg, #d4e0f4 0%, #e2d1f9 50%, #c1c8e4 100%);
}

header {
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 2;
  transition: 0.5s linear;
  cursor: pointer;
}

header .info {
  display: flex;
  flex-direction: column;
}

header .info * {
  margin: 2px 0;
}

header a {
  text-decoration: none;
  color: #222;
}

.menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  z-index: 1;
}

.hexagon {
  position: relative;
  width: 80vh;
  height: 80vh;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon img {
  height: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 0.2s linear;
}

.hexagon img:hover {
  height: 680px;
}

.hexagon ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  font-weight: bold;
}

.hexagon ul li {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.hexagon ul li a {
  color: #222;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
  z-index: 999;
}

.hexagon ul li:nth-child(1) { top: 10%; left: 50%; }
.hexagon ul li:nth-child(2) { top: 30%; left: 90%; }
.hexagon ul li:nth-child(3) { top: 70%; left: 90%; }
.hexagon ul li:nth-child(4) { top: 90%; left: 50%; }
.hexagon ul li:nth-child(5) { top: 70%; left: 10%; }
.hexagon ul li:nth-child(6) { top: 30%; left: 10%; }

.content {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #d4e0f4 0%, #e2d1f9 50%, #c1c8e4 100%);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: right 0.5s ease;
  z-index: 9999;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.content.active {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 64px;
  right: 64px;
  background-color: #f4f4f43d;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 25px;
}

.close-btn:hover{
  background: linear-gradient(135deg, #d4e0f4 0%, #e2d1f9 50%, #c1c8e4 100%);
  border: 1px solid rgba(0, 0, 0, 0.363);
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.content section {
  margin: 64px;
}

.courses-list {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.courses-list li {
  list-style-type: none;
  margin: 8px 0;
}

.courses-list a {
  color: black;
  text-decoration: none;
}

.exp-item,
.ed-item,
.project-item,
.web-page-item {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer; 
  margin-bottom: 16px;
}

.project-item > div{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.project-item, .web-page-item {
  flex-direction: column;
}

.exp-item p {
  margin: 4px 0;
}

.project-item {
  text-align: center;
}

.project-item strong {
  margin-bottom: 16px;
}

.project-item > div {
  display: flex;
  flex-direction: column;
}

.hobbies-collage {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hobby-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.exp-item img,
.ed-item img,
.project-item img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.exp-item > div,
.ed-item > div,
.web-page-item > div {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.exp-current {
  border: 2px solid #ffcc00;
  background-color: rgb(250, 250, 250);
}

.exp-item h3,
.exp-item strong,
.exp-item span {
  margin: 5px 0;
}

.web-page-item iframe {
  border: none;
  border-radius: 20px;
  width: 100%;
  min-height: 70vh;
  margin-bottom: 16px;
}

.web-page-item a {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
  color: #222;
}

.fa-link {
  font-size: 1.5rem;
}

.icons-flex {
  margin-top: 16px;
}

.icons-flex > * {
  font-size: 32px;
  color: black;
}

@media (max-width: 1100px) {
  .hexagon img {
    height: 480px;
  }
}

@media (max-height: 900px) {
  .hexagon img {
    height: 320px;
  }
  .hexagon ul li a{
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0 1rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 16px;
    padding-bottom: 8px;
    overflow: hidden;
  }

  .menu-icon {
    font-size: 32px;
    display: block;
    color: #000;
  }

  .hexagon {
    display: none;
  }

  .mobile-menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    margin: 8px;
  }

  .mobile-menu img {
    height: 320px;
  }

  .container {
    margin-top: 0;
  }

  header .info {
    display: none;
    flex-direction: column;
    height: 100vh;
  }

  header .info.active {
    display: flex;
  }

  header .info.active::before {
    content: "";
    position: absolute;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #b6cef8 0%, #e2d1f9 50%, #8ea1ec 100%);
    z-index: -1;
    animation: slideDown 0.6s forwards;
  }

  @keyframes slideDown {
    to {
      top: 0;
    }
  }

  .exp-item,
  .ed-item,
  .project-item,
  .web-page-item {
    flex-direction: column;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    
  }

  .exp-item img,
  .ed-item img,
  .project-item img {
    width: 78px;
    height: 78px;
    margin: 16px;
  }

  .exp-item > div,
  .ed-item > div,
  .project-item > div,
  .web-page-item > div {
    margin-left: 0px;
  }

  .web-page-item iframe {
    border: none;
  }

  .content section {
    margin: 16px;
  }

  .section-grid {
    grid-template-columns: 1fr;
  }

  .close-btn {
    top: 12px;
    right: 12px;
  }

  .hobby-image {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }

  .hover-image {
    display: none;
  }

  #mobile-profile-photo.hover-web-pages {
    content: url('assets/images/me/lgora-min.png');
  }

  #mobile-profile-photo.hover-experience {
    content: url('assets/images/me/gora-min.png');
  }

  #mobile-profile-photo.hover-projects {
    content: url('assets/images/me/rgora-min.png');
  }

  #mobile-profile-photo.hover-education {
    content: url('assets/images/me/ldol-min.png');
  }

  #mobile-profile-photo.hover-hobbys {
    content: url('assets/images/me/dol-min.png');
  }

  #mobile-profile-photo.hover-courses {
    content: url('assets/images/me/rdol-min.png');
  }
}

@media (min-width: 768px) {
  header:hover {
    background-color: white;
    top: 0;
    padding: 64px 32px 100vh;
    box-shadow: 0 100px rgba(0, 0, 0, 0.1);
  }
}
