body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  overflow: hidden;
}
header {
  position: fixed;
  left: 2rem;
  top: 2rem;
}
header .info {
  display: flex;
  flex-direction: column;
}
header .info * {
  margin: 2px 0;
}
header a {
  text-decoration: none;
  color: #222;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.hexagon {
  position: relative;
  width: 80vh;
  height: 80vh;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon img {
  width: 160px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hexagon ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  font-weight: bold;
}
.hexagon ul li {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}
.hexagon ul li a {
  color: #222;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
  z-index: 999;
}
.content {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: right 0.5s ease;
  z-index: 9999;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
}
.content section {
  margin: 64px;
}
.content.active {
  right: 0;
}
.close-btn {
  position: absolute;
  top: 64px;
  right: 64px;
  background-color: #f4f4f4;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.courses-list {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.courses-list li {
  list-style-type: none;
  margin: 8px 0;
}
.courses-list a {
  color: black;
  text-decoration: none;
}

.exp-item,
.ed-item,
.project-item,
.web-page-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.exp-item img,
.ed-item img,
.project-item img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.exp-item > div,
.ed-item > div,
.project-item > div,
.web-page-item > div {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}
.exp-current {
  border: 2px solid yellow;
  background-color: rgb(250, 250, 250);
}
.exp-item h3,
.exp-item strong,
.exp-item span {
  margin: 5px 0;
}

.web-page-item iframe {
  width: 40%;
  height: 300px;
  border: none;
}

.web-page-item a {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.web-page-item a:hover {
  color: #0056b3;
}

.fa-link {
  font-size: 1.5rem;
}
.hexagon ul li:nth-child(1) {
  top: 10%;
  left: 50%;
}
.hexagon ul li:nth-child(2) {
  top: 30%;
  left: 90%;
}
.hexagon ul li:nth-child(3) {
  top: 70%;
  left: 90%;
}
.hexagon ul li:nth-child(4) {
  top: 90%;
  left: 50%;
}
.hexagon ul li:nth-child(5) {
  top: 70%;
  left: 10%;
}
.hexagon ul li:nth-child(6) {
  top: 30%;
  left: 10%;
}
.icons-flex > * {
  font-size: 32px;
  color: black;
}
.menu-icon {
  display: none;
}
.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 0 1rem;
    width: 100%;
    background-color: yellow;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 16px;
    padding-bottom: 8px;
  }
  .menu-icon {
    font-size: 32px;
    display: block;
    color: #000;
  }
  .hexagon {
    display: none;
  }
  .mobile-menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mobile-menu a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    margin: 8px;
  }
  .container {
    margin-top: 0;
  }
  header .info {
    display: none;
    flex-direction: column;
  }
  header .info.active {
    display: flex;
  }

  .exp-item,
  .ed-item,
  .project-item,
  .web-page-item {
    flex-direction: column;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
  }

  .exp-item img,
  .ed-item img,
  .project-item img {
    width: 78px;
    height: 78px;
    margin: 16px;
  }

  .exp-item > div,
  .ed-item > div,
  .project-item > div,
  .web-page-item > div {
    margin-left: 0px;
  }

  .web-page-item iframe {
    width: 100%;
    border: none;
    display: none;
  }

  .content section {
    margin: 16px;
  }
  .close-btn {
    top: 12px;
    right: 12px;
  }
}
